/*SideBar CSS*/

* {
    margin: 0;
    padding: 0;
}

:root {
    font-family: 'Inter', sans-serif;
    --bg-institucional: #001B36;
}

html,
body {
    min-height: 100vh;
}

.wrapper {
    display: flex;
    width: 100%;
    height: -moz-available;
    height: -webkit-fill-available;
    min-height: inherit;
    flex-direction: column;
}

.bg-institucional {
    background-color: var(--bg-institucional);
}

.brand {
    display: block;
}

.brand>img {
    width: 3em;
}

.sidebar {
    position: relative;
    width: 100%;
    min-width: 290px;
    min-height: fit-content;
    box-sizing: border-box;
    gap: 2em;
    padding: 1em;
    transition: 0.3s margin-left;
}

.sidebar.active {
    margin-left: 0px;
}

.sidebar .nav,
.sidebar .nav-container {
    gap: 0.75em;
}

.sidebar hr {
    width: 100%;
    border-color: white;
}

.sidebar .nav-link {
    display: flex;
    color: white;
    min-height: 3em;
    width: -webkit-fill-available;
    border-radius: 8px;
    align-items: center;
    gap: 0.5em;
    font-weight: 500;
}

.sidebar .nav-link.active,
.sidebar .nav-link:hover {
    color: black;
    background-color: white;
}

.sidebar.active #sidebar-toggler {
    right: -2.5em;
}

.sidebar.active #sidebar-toggler>i {
    transform: rotate(0deg);
}

#sidebar-toggler {
    position: absolute;
    right: -1.25em;
    border-width: 0.1em;
    border-color: #001B36;
    color: var(--bg-institucional);
    background-color: white;
    border-style: solid;
    border-radius: 100%;
    width: 2.5em;
    height: 2.5em;
    transition: 0.3s right;
}

#sidebar-toggler>i {
    transition: 0.2s transform;
    transform: rotate(180deg);
}

.account-link {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.account-img {
    width: 2em;
    height: 2em;
    border-radius: 100%;
    border-width: 0.1em;
    border-style: solid;
    border-color: white;
}

.account-details {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.account-role {
    font-size: 0.75em;
    font-weight: 300;
}

@media(max-width: 768px){
    .card-body{
        overflow-x: scroll;
    }
}

@media (min-width: 769px) {
    .wrapper {
        flex-direction: row;
    }

    .sidebar {
        width: 290px;
        margin-left: 0px;
        padding: 2em;
    }

    .sidebar.active {
        margin-left: -290px;
    }

    .brand>img {
        width: 7em;
    }

    #sidebar-content.collapse {
        display: block;
    }

    .nav-top {
        justify-content: center;
    }


}

@media (min-width: 1600px) {
    .sidebar {
        width: 380px;
        margin-left: 0px;
    }
}

/*REST CSS*/

.add {
    background-color: #105dfb;
    color: white;
    border-radius: 10px;
    text-align: center;
    width: 250px;
    height: 35px;
}

.all {
    background-color: transparent;
    color: #3B3A3D;
    border-style: none;
    width: 100px;
    height: 35px;
    font-weight: bold;
    border-radius: 8px;
}

.accept {
    background-color: transparent;
    color: #3B3A3D;
    border-style: none;
    width: 100px;
    height: 35px;
    font-weight: bold;
    border-radius: 8px;
}

.nav-top {
    margin: auto auto;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.nav-top .nav-item {
    gap: 1rem;
    display: flex;
}

.all:hover {
    background-color: #3b3a3d21;
    border-radius: 8px;
}

.accept:hover {
    background-color: #3b3a3d21;
}

.btn-activo{
    background-color: #3b3a3d21;
}

.table th {
    border-top: 0;
}

.table td, th:not(:last-child){
    text-align: center;
}

.card {
    border-radius: 0.5rem !important;
}

.menu-container{
    top: 10px;
    right: 35px;
    min-width: 100px !important;
}

.menu-container{
    z-index: 1;
}

.menu-container button:hover{
    background-color: #3b3a3d21 !important;
}

/*MODAL*/

.Select {
    display: flex;
    gap: 1rem;
}

#datepicker {
    width: fit-content;
}

/* Time Picker */

.timePicker-inicio {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.timePicker-final {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.container-input {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #848188;
    width: fit-content;
    padding: 5px;
    border-radius: 6px;
}

.input-picker {
    display: block;
    white-space: nowrap;
    color: #848188;
}

input[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
    border-style: none;
    width: 20px;
    align-items: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.first-picker{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.last-picker {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.btn-time-picker-inicio {
    background-color: #105dfb;
    color: white;
    width: 45px;
    height: 30px;
    border-radius: 6px;
}

.btn-time-picker-final {
    background-color: #105dfb;
    color: white;
    width: 45px;
    height: 30px;
    border-radius: 6px;
}

.timepicker-container {
    display: flex;
    gap: 2rem;
}

select {
    border: 2px solid #848188;
    background-color: #fff;
    font-family: Arial, sans-serif;
    width: 200px;
    height: 40px;
    border-radius: 6px;
    color: #848188;
    padding: 10px;
}

.text-top-solicitud {
    display: flex;
    gap: 7rem;
}

.top-text-inicio {
    padding-left: 1rem;
}